<div class="container">
    <form class="form" method="get" action="/admin/export-cost">
        <div class="d-flex">
            <div class="flex-fill">
                <select class="form-select" name="idClass">
                    {{#each accountInfo}}
                    <option value="{{MaTaiKhoan}}">
                        {{HoVaTen}}
                    </option>
                    {{/each }}
                </select>
            </div>
            <div class="ms-3">
                <button class="btn btn-primary">Xem các môn học</button>
            </div>
        </div>
    </form>
    <h3 class="text-center mt-3">Các môn học có của {{accountStudentPersonal.[0].HoVaTen}}</h3>
    <form class="mt-3" method="post" action="/admin/export-cost">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless table-primary align-middle">
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>Mã học kì</th>
                        <th>Tên môn học</th>
                        <th>Số tiền</th>
                        <th>Thời gian kết thúc của môn học</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each CourseDetailsToFee}}
                    <tr class="table-primary">
                        <td>{{MaMonHocChiTiet}}</td>
                        <td>{{MaHocKi}}</td>
                        <td>{{TenMonHoc}}</td>
                        <td>{{TongSoTien}}</td>
                        <td>{{format_date ThoiGianKetThuc}}</td>
                        <td>
                            <input type="text" value="{{MaHocKi}}" name="idSemester">
                            <input type="text" value="{{MaMonHoc}}" name="IdCourse">
                            <input type="text" value="{{TongSoTien}}" name="SumCourse">
                            <input type="text" value="{{MaTaiKhoan}}" name="IdAccount">
                            <input type="text" value="{{ThoiGianKetThuc}}" name="EndTime">
                            <input type="checkbox" value="{{isExport}}" name="isExport">
                            <button class="btn btn-primary">Xuất</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>


    </form>
</div>