<div class="container">
    <form class="form" method="get">
        <div class="d-flex">
            <div class="flex-fill">
                <select class="form-select" id="classOption" name="idClass">
                    {{#each classInfo}}
                    <option value="{{MaLop}}">
                        {{TenLop}}
                    </option>
                    {{/each }}
                </select>
            </div>
            <div class="ms-3">
                <button type="submit" class="btn btn-primary">Xem các môn học</button>
            </div>
        </div>
    </form>
    <h3 class="text-center mt-3 mb-3">Danh sách các học phí trong lớp {{ClassById.[0].TenLop}}</h3>
    <div class="table-responsive">
        <table id="FeeTableExport"
            class="text-center table table-hover table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th>Mã học kì</th>
                    <th>Tên lớp</th>
                    <th>Tên môn học</th>
                    <th>Họ và tên học sinh</th>
                    <th>Thời gian kết thúc của môn học</th>
                    <th>Lựa chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#each CourseDetailsToFee}}
                <tr>
                    <td>{{MaMonHocChiTiet}}</td>
                    <td>{{MaHocKi}}</td>
                    <td>{{TenLop}}</td>
                    <td>{{TenMonHoc}}</td>
                    <td>{{HoVaTen}}</td>
                    <td>{{format_date ThoiGianKetThuc}}</td>
                    <form class="mt-3" method="post" action="/admin/export-cost">
                    <td>
                        <div hidden>
                            <input type="text" value="{{MaHocKi}}" name="idSemester">
                            <input type="text" value="{{MaMonHoc}}" name="IdCourse">
                            <input type="text" value="{{MaTaiKhoan}}" name="IdAccount">
                            <input type="text" value="{{MaLop}}" name="IdClass">
                            <input type="text" value="{{ThoiGianKetThuc}}" name="EndTime">
                            <input type="checkbox" value="false" name="isExport" checked>
                        </div>
                        {{#if (eq IsExport null)}}
                            <input type="submit" class="btn btn-primary" value="Xuất">
                        {{else}}
                            <input type="submit" class="btn btn-secondary disabled" value="Đã xuất">
                        {{/if}}
                    </form>
                    </td>
                    
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function(){
        var currentURL = window.location.search;
        var url_params = new URLSearchParams(currentURL);
        var idClass = url_params.get("idClass");
        $("#classOption").val(idClass);

    });
</script>