<div class="container">
    <h1 class="text-light">Quản lý thời khoá biểu
    </h1>
    <div class="mt-3">
        <form method="post" id="formTimeTable" action="/admin/create-time-table">
            <div class="d-flex">
                <select name="idSemesTer" id="semesterSelectId" class="form-select me-3">
                    <option>Chọn học kì</option>
                    {{#each SemesterInfo}}
                    <option value="{{MaHocKi}}">{{TenHocKi}}</option>
                    {{/each}}
                </select>
                <select name="idClass" class="form-select me-3">
                    <option value="">Chọn lớp học</option>
                    {{#each Classes}}
                    <option value="{{MaLop}}">{{TenLop}}</option>
                    {{/each}}
                </select>
                <select name="idCourse" class="form-select me-3">
                    <option value="">Chọn môn học</option>
                    {{#each Courses}}
                    <option value="{{MaMonHoc}}">{{TenMonHoc}} - 
                        {{#if (eq HoVaTen null)}}
                        Chưa có giáo viên
                        {{else}}
                        {{HoVaTen}}
                        {{/if}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="d-flex mt-3">
                <select hidden id="weekSelect" class="form-select me-3">
                    {{#each SemesterInfo}}
                    {{#each (renderWeeks ThoiGianBatDau ThoiGianKetThuc)}}
                    <option value="{{../MaHocKi}}">
                        Tuần {{sum @index 1}} [Từ ngày {{format_date start}} đến ngày {{format_date end}}]
                    </option>
                    {{/each}}
                    {{/each}}
                </select>
                <select id="weekSelected" class="form-select me-3">
                    <option></option>
                </select>
                <select name="dayValue" id="daySelected" class="form-select me-3">
                    <option></option>
                </select>
            </div>
        </form>
        <div class="mt-3 d-flex justify-content-center">
            <button data-bs-toggle="modal" data-bs-target="#createSemester" type="button" class="me-3 btn btn-primary">
                Tạo học kì
            </button>
            <button id="buttonSaveTimeTable" type="button" class="me-3 btn btn-warning">
                Lưu thông tin
            </button>
            <button data-bs-toggle="modal" data-bs-target="#deleteCourseDetails" type="button"
                id="buttonDeleteCourseDetails" class="me-3 btn btn-danger disabled">
                Xoá thông tin
            </button>
        </div>
        <div id="semesterId"></div>
        {{!-- Pop up của tạo học kì --}}
        <div class="modal fade" id="createSemester" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tạo học kì</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="ms-3">
                        <span class="text-danger">(*):Thời gian kết thúc sẽ mặc định là 3 tháng kể từ thời gian bắt
                            đầu</span>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/admin/create-semester">
                            <div class="mb-3">
                                <label for="Id_Semester" class="col-form-label">Mã học kì:</label>
                                <input type="text" name="idSemester" id="" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="Name_Semester" class="col-form-label">Tên học kì:</label>
                                <input type="text" name="nameSemester" id="" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="StartTime_Semester" class="col-form-label">Thời gian bắt đầu <span
                                        class="text-danger">(*)</span>:</label>
                                <input type="date" name="StartTimeSemester" id="startTimeSemester" class="form-control">

                            </div>
                            <div class="mb-3" hidden>
                                <input type="text" name="EndTimeSemester" id="EndTimeSemester">
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Pop up xác nhận lại xem có xoá không --}}
        <div class="modal fade" id="deleteCourseDetails" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn không?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <h2>Khi bạn xoá thì tất cả thông tin sẽ bị xoá vĩnh viễn.</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Chắc chắn</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="mb-3 d-flex align-items-center">
                <input type="checkbox" id="checkAll">
                <div class="ms-3 text-light">Chọn tất cả</div>
            </div>
            <form action="">
                <table class="table table-info border-primary table-bordered">
                    <thead>
                        <th></th>
                        <th>#</th>
                        <th>Tên lớp</th>
                        <th>Tên giáo viên</th>
                        <th>Tên môn học</th>
                        <th>Dạy vào ngày</th>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>
                        <th>Học kì</th>
                    </thead>
                    <tbody>
                        {{#each TimeTableInfo}}
                        <tr>
                            <td><input type="checkbox" name="CourseDetails[]" id=""> </td>
                            <td>{{sum @index 1}}</td>
                            <td>{{TenLop}}</td>
                            <td>{{TenTaiKhoan}}</td>
                            <td>{{formatNameCourse TenMonHoc}}</td>
                            <td>{{ThoiGian}}</td>
                            <td>{{ThoiGianBatDauMonHoc}}</td>
                            <td>{{ThoiGianKetThucMonHoc}}</td>
                            <td>{{TenHocKi}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //Khai báo biến
        var startTimeSemester = $("#startTimeSemester");
        var endTimeSemester = $("#EndTimeSemester");
        var semesterSelectId = $("#semesterSelectId");
        var weekSelectId = $("#weekSelect");
        var weekSelected = $("#weekSelected");
        var previousWeekBtn = $("#previousWeek");
        var nextWeekBtn = $("#nextWeek");
        var daySelected = $("#daySelected");
        var daysFollowWeek = $(".days");
        var checkAll = $("#checkAll");
        var buttonDelete = $("#buttonDeleteCourseDetails");
        var checkBoxCourseDetailsToDelete = $("input[name = 'CourseDetails[]']");
        var buttonSaveTimeTable = $("#buttonSaveTimeTable");
        var formTimeTable = $("#formTimeTable");
        console.log(checkAll);
        console.log(checkBoxCourseDetailsToDelete);
        checkAll.change(function () {
            var isCheckAll = $(this).prop("checked");
            checkBoxCourseDetailsToDelete.prop("checked", isCheckAll);
            renderButtonSubmit();
        });
        checkBoxCourseDetailsToDelete.change(function () {
            var isCheckedAll = checkBoxCourseDetailsToDelete.length ===
                $("input[name = 'CourseDetails[]']:checked").length;
            checkAll.prop("checked", isCheckedAll);
            renderButtonSubmit();
        });
        buttonSaveTimeTable.click(function () {
            formTimeTable.submit();
        });
        startTimeSemester.change(function () {
            var value = $(this).val();
            var date = new Date(value);
            date.setMonth(date.getMonth() + 3);
            date.setDate(date.getDay() + 8);
            endTimeSemester.val(date.toISOString().slice(0, 10));
        });
        semesterSelectId.change(function () {
            var value = $(this).val();
            var options = "";
            $('#weekSelect option').each(function () {
                var weekValue = $(this).val();
                if (value === weekValue) {
                    options += '<option value="' + '">' + $(this).text() + '</option>';


                }

            });
            weekSelected.html(options);
            getDayInWeekSelected(weekSelected.text());
            updateTimeTable();
        });
        weekSelected.change(function () {
            getDayInWeekSelected(weekSelected.find("option:selected").text());
            updateTimeTable();
        });
        //Các hàm mở rộng để xử lý
        function renderButtonSubmit() {
            var checkedCount = $("input[name = 'CourseDetails[]']:checked").length
            if (checkedCount > 0) {
                buttonDelete.removeClass("disabled");
            } else {
                buttonDelete.addClass("disabled");
            }
        }
        function getDayInWeekSelected(value) {
            var options = "<option>Chọn ngày</option>";
            var fromDateIndex = value.indexOf("Từ ngày") + 7;
            var toDateIndex = value.indexOf("đến ngày") + 8;
            var fromDateStr = convertDateString(value.substring(fromDateIndex, fromDateIndex + 12));

            var toDateStr = convertDateString(value.substring(toDateIndex, toDateIndex + 11));
            var fromDate = new Date(fromDateStr);
            var toDate = new Date(toDateStr);
            const daysName = ["Chủ Nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"];
            var days = [];
            for (var date = fromDate; date <= toDate; date.setDate(date.getDate() + 1)) {
                let formatDate = daysName[date.getDay()] + " - " + date.getDate() + " - " + (date.getMonth() + 1) + " - " + date.getFullYear();
                options += '<option value="' + formatDate + '">' + formatDate + '</option>';
                days.push(formatDate);
            }
            daySelected.html(options);
            return days;

        }
        function convertDateString(dateString) {
            var parts = dateString.split('-');
            return parts[1] + '/' + parts[0] + '/' + parts[2];
        }
        function updateTimeTable() {
            const selectedWeekText = weekSelected.find("option:selected").text();
            const days = getDayInWeekSelected(selectedWeekText);
            updateDaysHeader(days);
        }
        function updateDaysHeader(days) {
            daysFollowWeek.each(function (index) {
                if (index < days.length) {
                    $(this).text(days[index]);
                } else {
                    var sunDate = days[index - 1].split("-");
                    var daySunDateIncreased = parseInt(sunDate[1]) + 1;
                    $(this).text(`Chủ Nhật - ${daySunDateIncreased} - ${sunDate[2]} - ${sunDate[3]}`);
                }
            });
        }

        function displayDefaultWeekDays() {
            const daysName = ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ Nhật"];
            daysFollowWeek.each(function (index) {
                $(this).text(daysName[index]);
            });
        }
        if (weekSelected.val()) {
            updateTimeTable();
            displayDefaultWeekDays();
        } else {
            displayDefaultWeekDays();
        }
    })
</script>