<div class="container">
    <select class="form-select mb-3" name="" id="selectSemesterScore">
        <option value="none">Chọn học kì</option>
        {{#each semesterInfo}}
        <option value="{{TenHocKi}}">{{TenHocKi}}</option>
        {{/each}}
    </select>
    <div id="tableScore" class="table-responsive">
        <table class="table text-center table-hover table-borderless table-dark align-middle">
            <thead>
                <tr>
                    <th>Học kì</th>
                    <th>Tên Môn Học</th>
                    <th>Giáo Viên</th>
                    <th>Điểm số</th>
                </tr>
            </thead>
            <tbody>
                {{#each ScoreOfStudent}}
                <tr class="score-row" data-tenhocki="{{TenHocKi}}">
                    <td>{{TenHocKi}}</td>
                    <td>{{TenMonHoc}}</td>
                    <td>{{HoVaTen}}</td>
                    {{#if (eq Diem null)}}
                    <td>
                        <span class="text-danger">X</span>
                    </td>
                    {{else}}
                    <td>{{Diem}}</td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>

</div>
<script>
    $(document).ready(function () {
        var tableScore = $("#tableScore");
        var selectSemesterScore = $("#selectSemesterScore");
        var scoreRow = $(".score-row");
        tableScore.hide();
        selectSemesterScore.change(function () {
            let val = $(this).val();
            if (val === "none") {
                tableScore.hide();
            } else {
                tableScore.show();
            }
            scoreRow.each(function(){
                let rowNameSemester = $(this).data("tenhocki");
                if(rowNameSemester === val){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
        });
    });
</script>