<div class="container">
    <form method="get" action="/teacher/NhapDiem">
        <div class="d-flex">
            <div class="flex-fill">
                <select class="form-select" name="idClass" id="">
                    {{#each classOfTeacher}}
                    <option value="{{MaLop}}">{{TenLop}} - {{TenMonHoc}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="ms-3">
                <button class="btn btn-primary">
                    Xem các học sinh
                </button>
            </div>
        </div>
    </form>
    <div class="table-responsive mt-3">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Tên học sinh</th>
                    <th scope="col">Nhập điểm</th>
                </tr>
            </thead>
            <tbody>
                {{#each accountInfo}}
                <tr class="">
                        <td>{{HoVaTen}}</td>
                        <td>
                            <input type="text" value="{{MaTaiKhoan}}" name="IdAccount" id="">
                            <input type="text" name="Score" id="">
                        </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>