<div class="container">
    <h1 class="text-dark">Quản lý thời khoá biểu
    </h1>
    <div class="mt-3">
            <div class="d-flex">
                <select name="idSemesTer" id="semesterSelectId" class="form-select me-3">
                    <option>Chọn học kì</option>
                    {{#each SemesterInfo}}
                    <option value="{{MaHocKi}}">{{TenHocKi}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="d-flex mt-3">
                <select hidden id="weekSelect" class="form-select me-3">
                    {{#each SemesterInfo}}
                    {{#each (renderWeeks ThoiGianBatDau ThoiGianKetThuc)}}
                    <option value="{{../MaHocKi}}">
                        Tuần {{sum @index 1}} [Từ ngày {{format_date start}} đến ngày {{format_date end}}]
                    </option>
                    {{/each}}
                    {{/each}}
                </select>
                <select id="weekSelected" class="form-select me-3">
                    <option></option>
                </select>
                <select hidden name="dayValue" id="daySelected" class="form-select me-3">
                    <option></option>
                </select>
            </div>
       
        <div id="semesterId"></div>
        <h3 class="mt-3 text-center">Lịch trình giảng dạy của giáo viên {{account.HoVaTen}} - {{formatNameCourse account.TenMonHoc}}</h3>
        <table id="timeTable" class="mt-3 table table-info border-primary table-bordered" style="text-align: center;">
            <thead>
                <td><button class="btn btn-primary" id="previousWeek">Trước</button></td>
                {{#each days}}
                <th class="days"></th>
                {{/each}}
                <td><button class="btn btn-primary" id="nextWeek">Sau</button></td>
            </thead>

            <tbody>
                <tr>
                    <th>Tiết 1</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '06:45')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '06:45')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td valign="middle" rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>06:45 - 07:45</th>
                </tr>
                <tr>
                    <th>Tiết 2</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '07:45')}}
                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '07:45')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>07:45 - 08:45</th>
                </tr>
                <tr>
                    <th>Tiết 3</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '08:45')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '08:45')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>08:45 - 09:45</th>
                </tr>
                <tr>
                    <th>Tiết 4</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '09:45')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '09:45')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <td><b>09:45 - 10:45</b></td>
                </tr>
                <tr>
                    <th>Tiết 5</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '10:45')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '10:45')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>10:45 - 11:45</th>
                </tr>
                <tr>
                    <th>Tiết 6</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '11:45')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '11:45')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>11:45 - 12 : 30</th>
                </tr>
                <tr>
                    <th>Tiết 7</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '12:30')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '12:30')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>12:30 - 13:30</th>
                </tr>
                <tr>
                    <th>Tiết 8</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '13:30')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '13:30')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>13:30 - 14:30</th>
                </tr>
                <tr>
                    <th>Tiết 9</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '14:30')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '14:30')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                               <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>14:30 - 15:30</th>
                </tr>
                <tr>
                    <th>Tiết 10</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '15:30')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '15:30')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}

                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>15:30 - 16:30</th>
                </tr>
                <tr>
                    <th>Tiết 11</th>
                    {{#each days}}
                    {{#if (hasLessonAtTime ../TimeTableInfo this '16:30')}}

                    {{#each ../TimeTableInfo}}
                    {{#if (eq ThoiGianBatDauMonHoc '16:30')}}
                    {{#if (eq (sliceTimeOfTimeTable ThoiGian) ../this)}}
                    <td rowspan="{{minus ThoiGianKetThucMonHoc ThoiGianBatDauMonHoc}}">
                        <div class="text-dark lesson-cell" data-date="{{ThoiGian}}" style="text-align: center; font-size: 14px;">
                            <b>
                                <p>{{TenLop}}</p>
                            </b>
                        </div>
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <td></td>
                    {{/if}}
                    {{/each}}
                    <th>16:30 - 17:30</th>
                </tr>
            </tbody>

        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        //Khai báo biến
        var startTimeSemester = $("#startTimeSemester");
        var endTimeSemester = $("#EndTimeSemester");
        var semesterSelectId = $("#semesterSelectId");
        var weekSelectId = $("#weekSelect");
        var weekSelected = $("#weekSelected");
        var previousWeekBtn = $("#previousWeek");
        var nextWeekBtn = $("#nextWeek");
        var daySelected = $("#daySelected");
        var daysFollowWeek = $(".days");
        var buttonSaveTimeTable = $("#buttonSaveTimeTable");
        var formTimeTable = $("#formTimeTable");
        var semesterWeeks = {
            "semester1": 12,
            "semester2": 13,
            "semester3": 14
        };

        //Các sự kiện của các thẻ
        previousWeekBtn.click(function () {
            let currentWeek = parseInt(weekSelected.val());
            if (currentWeek > 1) {
                weekSelected.val(currentWeek - 1);
            }
            updateTimeTable();
        });
        nextWeekBtn.click(function () {
            let currentWeek = parseInt(weekSelected.val());
            let selectedSemester = semesterSelectId.val();
            let maxWeeks = semesterWeeks[selectedSemester] || 13;
            if (currentWeek < maxWeeks) {
                weekSelected.val(currentWeek + 1);
            }
            updateTimeTable();
        });

        buttonSaveTimeTable.click(function () {
            formTimeTable.submit();
        });
        startTimeSemester.change(function () {
            var value = $(this).val();
            var date = new Date(value);
            date.setMonth(date.getMonth() + 3);
            date.setDate(date.getDay() + 8);
            endTimeSemester.val(date.toISOString().slice(0, 10));
        });
        $("#timeTable").hide();
        semesterSelectId.change(function () {
            var value = $(this).val();
            var options = "";
            var index = 1;
            var maxWeek = semesterWeeks[value] || 13;
            $("#timeTable").show();
            $('#weekSelect option').each(function () {
                var weekValue = $(this).val();
                if (value === weekValue) {
                    options += '<option value="' + (index) + '">' + $(this).text() + '</option>';
                    index++;
                    if (index > maxWeek) {
                        index = 1;
                    }
                }

            });
            weekSelected.html(options);
            getDayInWeekSelected(weekSelected.text());
            updateTimeTable();
        });
        weekSelected.change(function () {
            getDayInWeekSelected(weekSelected.find("option:selected").text());
            updateTimeTable();
        });
        //Các hàm mở rộng để xử lý
        function getDayInWeekSelected(value) {
            var options = "<option>Chọn ngày</option>";
            var fromDateIndex = value.indexOf("Từ ngày") + 7;
            var toDateIndex = value.indexOf("đến ngày") + 8;
            var fromDateStr = convertDateString(value.substring(fromDateIndex, fromDateIndex + 12));

            var toDateStr = convertDateString(value.substring(toDateIndex, toDateIndex + 11));
            var fromDate = new Date(fromDateStr);
            var toDate = new Date(toDateStr);
            const daysName = ["Chủ Nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"];
            var days = [];
            for (var date = fromDate; date <= toDate; date.setDate(date.getDate() + 1)) {
                let formatDate = daysName[date.getDay()] + " - " + date.getDate() + " - " + (date.getMonth() + 1) + " - " + date.getFullYear();
                options += '<option value="' + formatDate + '">' + formatDate + '</option>';
                days.push(formatDate);
            }
            daySelected.html(options);
            return days;

        }
        function convertDateString(dateString) {
            var parts = dateString.split('-');
            return parts[1] + '/' + parts[0] + '/' + parts[2];
        }
        function updateTimeTable() {
            const selectedWeekText = weekSelected.find("option:selected").text();
            const days = getDayInWeekSelected(selectedWeekText);
            updateDaysHeader(days);
        }
        function updateDaysHeader(days) {
            daysFollowWeek.each(function (index) {
                if (index < days.length) {
                    $(this).text(days[index]);
                } else {
                    var sunDate = days[index - 1].split("-");
                    var daySunDateIncreased = parseInt(sunDate[1]) + 1;
                    $(this).text(`Chủ Nhật - ${daySunDateIncreased} - ${sunDate[2]} - ${sunDate[3]}`);
                }
            });
            $(".lesson-cell").hide();
            days.forEach(function (day) {
                console.log(day);
                $(".lesson-cell").each(function () {
                    if ($(this).data('date').trim() === day.trim()) {
                        $(this).show();
                    }
                })
            });
        }

        function displayDefaultWeekDays() {
            const daysName = ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ Nhật"];
            daysFollowWeek.each(function (index) {
                $(this).text(daysName[index]);
            });
        }
        if (weekSelected.val()) {
            updateTimeTable();
            displayDefaultWeekDays();
        } else {
            displayDefaultWeekDays();
        }
    })
</script>